composer.local.json
.htpasswd
/web/.htaccess
*node_modules

/web/sites/default/files/*

/vendor/
/console/language/
/web/core/
/web/libraries/
/web/tmp/
/web/modules/contrib
/web/.csslintrc
/web/.editorconfig
/web/.eslintignore
/web/.eslintrc.json
/web/.gitattributes
/web/.htaccess
/web/autoload.php
/web/index.php
/web/profiles/.gitkeep
/web/robots.txt
/web/sites/default/default.services.yml
/web/sites/default/default.settings.php
/web/sites/default/settings.php
/web/sites/development.services.yml
/web/sites/example.settings.local.php
/web/sites/example.sites.php
/web/update.php
/web/web.config
/.docksal/docksal-local.env
/.csslintrc
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/.ht.router.php
/.htaccess
/INSTALL.txt
/autoload.php
/example.gitignore
/index.php
/robots.txt
/update.php
/web.config
/db.sql
/18.sql
/19.sql
