<div class="wrapper-rec">
  <div class="carousel">
      <div>
        <div class="newsblock">

            <div class="col-6 blockcard bch">block1</div>
            <div class="col-6 blockcard bch">block1</div>
            <div class="col-4 blockcard bcd">block1</div>
            <div class="col-4 blockcard bcd">block1</div>
            <div class="col-4 blockcard bcd">block1</div>

        </div>
      </div>

      <div>
        <div class="newsblock">

            <div class="col-6 blockcard bch">block1</div>
            <div class="col-6 blockcard bch">block1</div>
            <div class="col-4 blockcard bcd">block1</div>
            <div class="col-4 blockcard bcd">block1</div>
            <div class="col-4 blockcard bcd">block1</div>

        </div>
      </div>
  </div>
</div>
