<div class="wrapper-rec">
  <div class="carousel-line">
      <div class="line-card">
        <div class="line-svg"></div>
        <div class="line-text">Офис</div>
      </div>
      <div class="line-card">
        <div class="line-svg"></div>
        <div class="line-text">Гостиная</div>
      </div>
      <div class="line-card">
        <div class="line-svg"></div>
        <div class="line-text">Детская</div>
      </div>
      <div class="line-card">
        <div class="line-svg"></div>
        <div class="line-text">Кухня</div>
      </div>
      <div class="line-card">
        <div class="line-svg"></div>
        <div class="line-text">Магазин</div>
      </div>
      <div class="line-card">
        <div class="line-svg"></div>
        <div class="line-text">Двор</div>
      </div>
      <div class="line-card">
        <div class="line-svg"></div>
        <div class="line-text">Прихожая</div>
      </div>
      <div class="line-card">
        <div class="line-svg"></div>
        <div class="line-text">Спальня</div>
      </div>
      <div class="line-card">
        <div class="line-svg"></div>
        <div class="line-text">category</div>
      </div>
  </div>
</div>
